@font-face {
    font-family: 'thsarabunnew';
    src: url('/font/Quark-Bold.otf'),
    		url('/font/Quark-Light.otf');
    	/* 	url('/font/RSU_Regular.ttf'); */
    	/* 	url('/font/thaisanslite_r1.otf'),
    		url('/font/thaisanslite_r1.ttf'); */
    /* 
    src: url('../fonts/thsarabunnew-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thsarabunnew-webfont.woff') format('woff'),
         url('../fonts/thsarabunnew-webfont.ttf') format('truetype'); */
    font-weight: normal;
    font-style: normal;
 
}
body,label,a,b,u,i,span,button{
	font-family:"thsarabunnew";
}